/*  


@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: rgb(13, 241, 146);
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
   background-image:url(src/sk3.jpg); 
     background-size:cover;
   
}
/* Variables end */

html {
  scroll-behavior: smooth;
 /* background-image:url(src/bg4.png); */
 
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  /* background-image:url(src/bg4.png); */

}


nav {
   
    
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background: linear-gradient(to right,rgb(54, 53, 63)10%,#42474a3f 100%);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }


  nav h1 {
    color: var(--primary-color);
  }
  
  nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }


  .burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }


  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
  }

  .hero img {
    height: 37.5rem;
    width: 37.5rem;
  }
  
  .bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    color: hsl(28, 95%, 46%);
  }
  
  .bio h1 {
    margin-bottom: var(--bottom-margin);
  
  }
  
  .bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
    color: wheat;
  }

  .more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
    color: hsl(28, 95%, 46%);
     background: linear-gradient(to right,black,#0133373f 100%); 
  }
  
  .more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
    color: hsl(28, 95%, 46%);
    
  }
  
  .more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
    color: wheat;
  }

  .skills {
     color: hsl(28, 95%, 46%);
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .skill-header {
    margin-bottom: 1rem;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 11.875rem;
    height: 11.25rem;
  }


  .icon-card {
    background: linear-gradient(to right, #c6eaa0 50%,rgb(53, 52, 52) 100%);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }

  .projects {
    
    padding: 32px 0;
    margin-top: 2rem;
  }
  
  .project-pic {
    width: 65%;
    height: 60%;
  }
  
  .projects-container {
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .projects-title {
    text-align: center;
    margin-bottom: 1rem;
    color: hsl(28, 95%, 46%);
  }
  
  .project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
  }

  .project-container p {
    padding: 0.4rem;
  }
  
  .project-title {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-card {
    background: linear-gradient(to right, #c6eaa0 50%,rgb(53, 52, 52) 100%);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }


  contact {
    margin-top: 2rem;
  }
  
  .contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
    color: hsl(28, 95%, 46%);
  }
  
  .contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
  }

  .contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
  }
  
  .contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
  }
  
  .contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
  }

  .input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
  }

  .submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
  }


  .submit-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
  }

  .socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
  }
  
  .socicon {
    width: 2rem;
    height: 2rem;
  }

  footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
  }

  .scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
  }
  
  .up-arrow {
    width: 3rem;
    height: 3rem;
  }











  @media screen and (max-width: 720px) {
    .nav {
        padding: 1.5rem 1rem;
      }
     
      .nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
      }
    
       .nav ul li {
        margin: 8px;
      }

      .burger-menu {
        display: block;
      }
    
      nav ul.show {
        transform: translateX(0);
      }

      .hero {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
      }
    
      .hero img {
            height: 37.5rem;
            width: 30rem;
        }
    
      .bio {
        margin-top: -7rem;
        width: 20.5rem;
      }

      .more-about {
        margin-top: 2rem;
        padding: 1rem 3.5rem;
      }
    
      .more-about h2 {
        text-align: center;
      }
    
      .more-about p {
        text-align: justify;
      }

      .icon {
        width: 5.875rem;
        height: 5.25rem;
      }

      .projects-container {
        flex-direction: column;
      }
    
      .project-container {
        width: 20.875rem;
      }

      .contact-form-container {
        max-width: 23.75rem;
      }

  }

  @media screen and (max-width: 420px) {
    .hero img {
      height: 37.5rem;
      width: 23rem;
    }
  
    .bio {
      width: 18.3rem;
    }
  
    .project-container {
      width: 17.875rem;
    }
  
    .contact-form-container {
      max-width: 17.75rem;
    }
    .navigation li a{
        display: flex;
        margin-right: -21px;
        margin-bottom: 10px;

    }
    nav h1 {
         display: flex;
          margin-left: -52px;
          color:#650101;
          font-size: small;
    }
    
  
  } 

  
.ress {
  background-color: #2602563f;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  
}

.download{
   background-color: #2602563f;
   display: flex;
   justify-content: end;
   padding-top: 30px;
   margin-right: 130px;
   font-size: 5vh;
   border-radius: 4px;
   border-color: #a98908;
  
  
}
    #btnresume{
      background: linear-gradient(to right, #780604 0%, black 100%);
      font-size: 2rem;
      border-color: #a98908;
    
    
    

    }




.hh{
    display: flex;
    justify-content: center;
    color: #4a8998;
    backface-visibility:var(--bg-color);
    font-size: 4vh;
}


.ress{
   display: flex;
   justify-content: center;
   height: 70rem;
   width: 100rem;
}


.suraj{
    display: flex;
     padding-top: 10px;
    justify-content: center;
    color: #c6eaa0;
    font-size: 2rem;
    
}
.suraj i{
       color: red;
       animation: sk 2s   linear infinite;

}

@keyframes sk {
    0%{
      transform: scale(1);
      opacity: 0;
    }
    50%{
      transform:scale(0.5);
      opacity: 1;
    }
    100%{
      transform:scale(1.5);
      opacity: 0;
    }

}   